<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <div class="container">
        <h3>
            Calculator App - qbandres!!
        </h3>
    </div>
    <!-- Form-->
    <div class="container">
        <form action="/calc" method="PosT">
          <label for="Number One">First Number</label>
          <input
            type="text"
            placeholder="First Number"
            class="u-full-width"
            name="num1"
          />
  
          <label for="Number Two">Second Number</label>
          <input
            type="text"
            placeholder="Second Number"
            class="u-full-width"
            name="num2"
          />
  
          <label for="Operation">Operation</label>
          <select class="u-full-width" name="operation">
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
            <option value="power">Potencia</option>
          </select>
  
          <input type="submit" value="Calculate" id="calc_btn" />

          {{ result }}

        </form>

</body>
</html>